.ModalPopup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  &--with-blur {
    backdrop-filter: blur(5px);
  }
  &--with-vertical-center {
    align-items: center;
  }
  &--with-horizontal-center {
    justify-content: center;
  }
}