$default-block-color: #e0e0e0;
$defaul1t-block-color: #c4c4c4;
$navigation-br-color: gray;
$button-gradient: linear-gradient(#00A8A8 100%, #00A0A0 100%);

$font-montserrat: 'Montserrat', 'Segoe UI', 'Arial', sans-serif;
$font-rubik: 'Rubik', 'Segoe UI', 'Arial', sans-serif;