@import '../../../styles/variables.scss';
.NewTaskAction {
  padding: 15px 35px;

  &__title {
    font-family: $font-rubik;
    font-weight: 600;
    line-height: 20px;
    font-size: 15px;
  }
  &__description {
    margin-top: 7px;
    padding: 0 20px;
    line-height: 14px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75);
  }
  &__buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
  }
  &__button {
    width: 150px;
  }
}