@font-face {
  font-family: 'Montserrat';
  src: url(./Montserrat-Regular.font.ttf) format('ttf'),
  url(./Montserrat-Regular.font.woff) format('woff'),
  url(./Montserrat-Regular.font.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./Montserrat-Bold.font.ttf) format('ttf'),
  url(./Montserrat-Bold.font.woff) format('woff'),
  url(./Montserrat-Bold.font.svg) format('svg');
  font-weight: bold;
  font-style: normal;
}