.App {
  &__container {
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
  }
  &__header {
    margin: 0 170px;
    height: 100px;
  }
  &__main {
    display: grid;
    grid-template-columns: 150px minmax(300px, 1fr) 150px;
    grid-column-gap: 20px;
    height: 500px;
  }
  &__navbar {
    border-radius: 5px;
    background-color: #e0e0e0;
    box-shadow: 0 -5px 6px -5px rgba(34, 60, 80, 0.6) inset,
                0 5px 6px -5px rgba(34, 60, 80, 0.6) inset;
    overflow: hidden;
  }
  &__timeline {
    border-radius: 5px;
    background-color: #e0e0e0;
    box-shadow: 0 -5px 6px -5px rgba(34, 60, 80, 0.6) inset,
                0 5px 6px -5px rgba(34, 60, 80, 0.6) inset;
    overflow: hidden;
  }
  &__content {}
  &__test-access-box {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 10px;
    background-color: red;
  }
}


@media screen and (max-width: 680px) {
  .App__container { padding: 0 10px }
  .App__main { grid-column-gap: 10px }
}
@media screen and (max-width: 725px) {
  .App__header {
    margin: 0;
  }
}
@media screen and (max-width: 640px) {
  .App__navbar { display: none }
  .App__timeline { display: none }
  .App__main {
    grid-template-columns: 1fr;
  }
}



